<template>
  <v-app>
    <div class="container">
      <v-text-field v-model="search" placeholder="Search" solo></v-text-field>

      <div class="row">
        <div class="col-md-3" v-for="item in filter_name" :key="item.name">
          <v-card class="mx-auto" max-width="100%">
            <v-img :src="`${item.images}`" height="200px"></v-img>

            <v-card-title> {{ item.name }} </v-card-title>

            <!-- <v-card-subtitle> 1,000 miles of wonder </v-card-subtitle> -->
          </v-card>
        </div>
      </div>
    </div>
  </v-app>
</template>

<script>
import firebase from "../firebase";

export default {
  mounted() {
    this.get_data();
  },
  computed: {
    filter_name() {
      if (this.search) {
        return this.items.filter((item) => {
          return item.name.startsWith(this.search);
        });
      } else {
        return this.items;
      }
    },
  },
  methods: {
    get_data() {
      const db = firebase.firestore();
      db.collection("content")
        .get()
        .then((response) => {
          response.forEach((doc) => {
            this.items.push(doc.data());
            //console.log(doc.data());
          });
        });
      // return this.items.filter(function (item) {
      //   console.log(item)
      //   return item.name.indexOf(this.search) >= 0;
      // });
    },
  },
  data() {
    return {
      items: [],
      search: "",
    };
  },
};
</script>